*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 248, 236);
}

#main{
    height: 100%;
    width: 100%;
}

#nav{
    /* background-color: red; */
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
}

#nav h3{
    background-color: black;
    color: #fff;
    padding: 15px 25px;
    margin-left: 5px;
    font-size: 16px;
    border-radius: 50px;
}

#intro{
    height: 45%;
    width: 100%;
    /* background-color: wheat; */
    padding: 35px 40px;
}

#intro h1{
    font-size: 90px;
    letter-spacing: -3px;
    line-height: 110px;
}

#places{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#places h3, #places h4{
    font-size: 25px;
    font-weight: 600;
}

#hero-img{
    height: 91%;
    width: 100%;
    background-image: url(./6458a6db645ec6a527000cfa_home-hero-p-2000.webp);
    background-size: cover;

}

#about{
    height: 45%;
    width: 100%;
    background-color: rgb(255, 231, 122);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
}

#about h2{
    background-color: #fff;
    width: 60%;
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: -3px;
}

#about-part2{
    width: 35%;
    height: 100%;
    padding: 0 50px;
    background-color: #fff;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about-part2 h3{
    font-size: 30px;
    font-weight: 600;

}

#icons i{
    background-color: black;
    color: #fff;
    padding: 5px;
    font-size: 20px;
    border-radius: 50px;
    margin-right: 10px;
}